<%- include('../layouts/header') %>








<section style="background-color: #eee; height: 100vh;">
    <div class="container py-5 ">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
            
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
        </div>
      </div>
  
      <div class="row">
        <h2 class="p-4">Welocme to homepage</h2>
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img  src="userImages/<%= user.image %>" alt="avatar"
                class="rounded-circle img-fluid my-4" style="width: 120px; height: 120px;">
              <h5 class="my-3"><%= user.name %> </h5>
  
              <div class="d-flex justify-content-center mb-2">
                <a style="color: white;" href="/edit?id=<%= user._id.toString() %>"><button type="button" class="btn btn-primary">edit</button></a>
                <a href="/logout"><button type="button"  class="btn btn-outline-primary ms-1">logout</button></a>
              </div>
            </div>
          </div>
      
        </div>
        <div class="col-lg-8 ">
          <div class="card mb-4">
            <div class="card-body my-5">
              <div class="row ">
                <div class="col-sm-3 m-1">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= user.name %> </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= user.email %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= user.mobile %></p>
                </div>
              </div>
            

             
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>

<%- include('../layouts/footer.ejs')%>